<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue"></script>
    <title>Matador de Monstro.</title>
  </head>
  <body>
    <div id="app">
      <div class="panel scores">
        <div class="score">
          <h1>Jogador</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: playerLife < 20}"
              :style="{width: playerLife + '%'}"
            ></div>
            <div>{{ playerLife }}%</div>
          </div>
        </div>
        <div class="score">
          <h1>Monstro</h1>
          <div class="life-bar">
            <di
              class="life"
              :class="{danger: monsterLife < 20}"
              :style="{width: monsterLife + '%'}"
            ></di>
            <div>{{monsterLife}}%</div>
          </div>
        </div>
      </div>
      <div v-if="hasResult" class="panel result">
        <div v-if="monsterLife == 0" class="win">Você Ganhou!!!</div>
        <div v-else class="lose">Você Perdeu!!!</div>
      </div>
      <div class="panel buttons">
        <template v-if="rurning">
          <butoon class="btn attack" @click="attack(false)">Ataque</butoon>
          <butoon class="btn especial" @click="attack(true)">Especial</butoon>
          <butoon class="btn cure" @click="cureAndHurt">Curar</butoon>
          <butoon class="btn give-up" @click="endGame">Desistir</butoon>
        </template>
        <butoon v-else class="btn new-game" @click="startGame"
          >Iniciar Jogo</butoon
        >
      </div>
      <div v-if="logs.length" class="panel logs">
        <ul>
          <li v-for="log in logs" class="log" :class="log.cls">{{log.text}}</li>
        </ul>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
