/* Geral */
html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#app{
    display: flexbox;
    flex-direction: column;
}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.scores{
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores h1{
    font-weight: 300;
    font-size: 1.6rem;
}
.life-bar{
    width: 80%;
    height: 20px;
    border: 1px solid #aaa;
}
.life-bar .life{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.life-bar .life.danger{
    background-color: red;
}

.result  {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

/* Area dos botôes {Controle do Jogo} */
.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
}

.attack {
    background-color: blue;
    color: white;
}

.especial {
    background-color: orange;
    color: black
}

.cure {
    background-color: green;
    color: white;
}

.give-up {
    background-color: #bbb;
    color: black;
}

.new-game{
    background-color: blue;
    color: white;
}
.player {
    background-color: #4233afaa;
    color: white;
}
.monster{
    background-color: #e51c23aa;
    color: white;
}
.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logs ul li {
    display: flex;
    justify-content: center;
    padding: 3px 0px;
    margin: 4px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}